<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot_name" default="tr"/>
  <arg name="manager_name" default="nodelet_manager"/>
  <arg name="nodelet_mode" default="load"/>


  <group ns="$(arg robot_name)">

<!-- Nodelet Manager -->
    <group if="$(eval nodelet_mode=='load')">
      <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" />
    </group>

<!-- CAN -->
    <node pkg="nodelet" type="nodelet" name="slcan_bridge" 
    args="$(arg nodelet_mode) can_plugins/SlcanBridge $(arg manager_name)" >
      <param name="port" type="string" value="/dev/ttyACM0" />
    </node>

    <node pkg="nodelet" type="nodelet" name="can_handler" 
    args="$(arg nodelet_mode) can_plugins/CanHandler $(arg manager_name)" />

<!--Motor Driver-->
    <node pkg="nodelet" type="nodelet" name="motor0" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="400" />
      <remap from="motor0_cmd" to="foot0_cmd"/>
      <remap from="motor0_cmd_val" to="foot0_cmd_vel"/>      
    </node>
    <node pkg="nodelet" type="nodelet" name="motor1" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="410" />
      <remap from="motor1_cmd" to="foot1_cmd"/>
      <remap from="motor1_cmd_val" to="foot1_cmd_vel"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor2" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="420" />
      <remap from="motor2_cmd" to="foot2_cmd"/>
      <remap from="motor2_cmd_val" to="foot2_cmd_vel"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor3" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="430" />
      <remap from="motor3_cmd" to="foot3_cmd"/>
      <remap from="motor3_cmd_val" to="foot3_cmd_vel"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor4" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="540" />
      <remap from="motor4_cmd" to="Shot_Power_cmd"/>
      <remap from="motor4_cmd_val" to="Shot_Power_cmd_pos"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor5" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="630" />
      <remap from="motor5_cmd" to="Shot_Angle_cmd"/>
      <remap from="motor5_cmd_val" to="Shot_Angle_cmd_pos"/>
    </node>
    
    <node pkg="nodelet" type="nodelet" name="motor6" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="52c" />
      <remap from="motor6_cmd" to="Pick_R_Base_cmd"/>
      <remap from="motor6_cmd_val" to="Pick_R_Base_cmd_pos"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor7" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="608" />
      <remap from="motor7_cmd" to="Pick_R_Height_cmd"/>
      <remap from="motor7_cmd_val" to="Pick_R_Height_cmd_pos"/>
    </node>
    
    <node pkg="nodelet" type="nodelet" name="motor8" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="600" />
      <remap from="motor8_cmd" to="Pick_R_Hand_cmd"/>
      <remap from="motor8_cmd_val" to="Pick_R_Hand_cmd_pos"/>
    </node>
    
    <node pkg="nodelet" type="nodelet" name="tr_nodelet_main" args="$(arg nodelet_mode) tr/tr_nodelet_main $(arg manager_name)" >
      <param name="R_base_pick_standby" type="double" value="2.55" />
      <param name="R_base_pick" type="double" value="3.35" />
      <param name="R_base_load" type="double" value="0.0" /> 
      <param name="R_height_pick" type="double" value="22.5" />
      <param name="R_height_load" type="double" value="17" />
      <param name="R_height_load_standby" type="double" value="38" /> 
      <param name="R_hand_pick" type="double" value="-4.65" />
      <param name="R_hand_load" type="double" value="-1.5" />
      <param name="shot_power_shooter_init" type="double" value="-32.8" /> 
      <param name="shot_power_load" type="double" value="-10" />
      <param name="shot_power_launch_pos_1" type="double" value="-19.5" /> <!-- weak -->
      <param name="shot_power_launch_pos_2" type="double" value="-11" /> <!--  | -->
      <param name="shot_power_launch_pos_3" type="double" value="-5" />  <!--  | -->
      <param name="shot_power_launch_pos_4" type="double" value="0.0" /> <!-- powerful -->
      <param name="shot_angle_launch_pos_1" type="double" value="220" /> <!-- weak -->
      <param name="shot_angle_launch_pos_2" type="double" value="220" /> <!--  | -->
      <param name="shot_angle_launch_pos_3" type="double" value="235" />  <!--  | -->
      <param name="shot_angle_launch_pos_4" type="double" value="250.0" /> <!-- powerful -->
    </node>

<!--Solenoid_Driver-->  
    <node pkg="solenoid_driver_node" type="solenoid_driver_node" name="solenoid" >
      <param name="bid" type="string" value="100" />
      <param name="name" value="solenoid"/>
      <remap from="solenoid_cmd" to="solenoid_cmd"/>
      <remap from="solenoid_order" to="solenoid_order"/>
    </node>
<!-- joy -->
    <rosparam file="$(find tr)/param/logitech_f710_joy_assign.yaml" command="load" />
    <node respawn="true" pkg="joy" type="joy_node" name="joy_node" >
      <param name="dev" type="string" value="/dev/input/js0" />
      <param name="deadzone" value="0.12" />
    </node>
    
     <node pkg="nodelet" type="nodelet" name="base_controller" args="$(arg nodelet_mode) base_controller_plugins/Omni4 $(arg manager_name)" >
      <param name="motor_max_acc" value="124000.0" />
      <param name="motor_max_vel" value="400.0" />
      <param name="invert_x" value="false" />
      <param name="invert_y" value="false" />
      <param name="invert_z" value="false" />
      <remap from="motor0_cmd_vel" to="foot0_cmd_vel" />
      <remap from="motor1_cmd_vel" to="foot1_cmd_vel" />
      <remap from="motor2_cmd_vel" to="foot2_cmd_vel" />
      <remap from="motor3_cmd_vel" to="foot3_cmd_vel" />
    </node>
  </group>  
</launch>   
    
